*
!.gitignore
!gadgets/
gadgets/*
!gadgets/*.jpg
!gadgets/*.png
!brands/
brands/*
!brands/*.jpg
!brands/*.png
!sliders/
sliders/*
!sliders/*.jpg
!sliders/*.png
!news/
news/*
!news/*.jpg
!news/*.png
!guides/
guides/*
!guides/*.jpg
!guides/*.png
